.idea/
venv/
__pycache__/
misc/query
misc/train
misc/
/siecon_cv_metiib/sample_files/output/img_cropped.jpg
/siecon_cv_metiib/sample_files/output/img_masked.jpg
/siecon_cv_metiib/sample_files/output/img_masked.psb
/siecon_cv_metiib/sample_files/output/img_socket.jpg
/siecon_cv_metiib/sample_files/output/ORB_keypoints.jpg
/siecon_cv_metiib/sample_files/preproc/img_preproc_4.jpg
/siecon_cv_metiib/sample_files/preproc/img_preproc_5.jpg
/siecon_cv_metiib/sample_files/preproc/img_preproc_6.jpg
/siecon_cv_metiib/sample_files/preproc/img_preproc_7.jpg
/siecon_cv_metiib/sample_files/preproc/img_preproc_8.jpg
/siecon_cv_metiib/sample_files/preproc/img_preproc_9.jpg
